// Place all the styles related to the logged controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.background {
  position: relative;
  width: 100%;
  height: 87vh;
  min-height: auto;
  overflow-y: hidden;
  background: url("/assets/bg-pattern.png"), #7b4397;
  /* fallback for old browsers */
  background: url("/assets/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  /* Chrome 10-25, Safari 5.1-6 */
  background: url("/assets/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.transparent-black {
  padding-top: 2%;
  width: 40%;
  height: 50%;
  text-align: center;
  background:black;
  opacity: .7;
  border-radius: 3rem;
}

.header {
  margin: 0;
  text-align: center;
  width: 100%;
}

.field {
  color: black;
}
